<h1 class="text-success">{{successId}} and {{successName}} is {{successStatusfunc()}}</h1>
<p>{{serverName}}</p>
<input type="text" class="form-control" [(ngModel)]="serverName">
<!--<input type="text" class="form-control" (input)="onUpdateServer($event)">-->
<button class="btn btn-success" [disabled]="!allowNewUser" (click)="onServerCreate()">Click</button>
<!--<p [innerText]="allowNewUser"></p>-->
<p>{{serverStatus}}</p>

<label for="userName" class="form-control">UserName:- </label>
<input type="text" class="form-control" [(ngModel)]="userName" (input)="checkEmptyUserFunc($event)">
<p>{{userName}}</p>
<button class="btn btn-success" [disabled]="EmptyUser" (click)="updateUserName()">reset</button>